@import "compass/css3";

.board {
	margin-left: 200px;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 142vh;
	
}

#card1 {	
	background-color: #001f3f;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#card2 {	
	background-color: #0074D9;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#card3 {	
	background-color: #7FDBFF;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.header {
	margin-top: 0px;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-family: "Lato", sans-serif;
}

.flex-item {
  background: #818181;
  padding: 1vw;
  width: 5vw;
  height: 50px;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

/*#rightside {
	float: right;
	background-color: white;
	width: 200px;
	border-left: 5px solid black;
	
}*/

#menubtn {
	margin-left:12px;
	float: left;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#menubtnR {
	margin-right:12px;
	float: right;
}

.sidenavR {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavR a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	text-align: right;	
}

.sidenavR a:hover {
    color: #f1f1f1;
}

.sidenavR .closebtnR {
    position: absolute;
    top: 0;
    font-size: 36px;
	left: 25px;
}

@media screen and (max-height: 450px) {
  .sidenavR {padding-top: 15px;}
  .sidenavR a {font-size: 18px;}
}